.Footer {
  background-color: var(--principal);
  display: flex;
  padding: 0.7em 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: var(--principal-contrast);
  justify-content: space-around;

  &__Contact {


    &--Data {
      display: flex;

      &-col {
        margin: 1em;
      }
    }

    &--Whatsapp {
      // background-color: var(--white);
      font-size: 3.5em;
      position: absolute;
      right: 1em;
      bottom: 1em;

      a {
        color: #1BD741;
      }
    }
  }


  &--social-networks {
    padding: 0 1em;
  }

  .socialIcon {
    color: var(--font-contrast);
    font-size: 1.5em;
    margin: 0.5em;
  }
}

@media screen and (max-width: 880px) {
  .Footer {
    justify-content: center;
  }
}